@import 'modularscale/vars';

@import 'modularscale/settings';
@import 'modularscale/pow';
@import 'modularscale/strip-units';
@import 'modularscale/sort';
@import 'modularscale/target';
@import 'modularscale/function';
@import 'modularscale/round-px';

@import 'modularscale/respond';

@import 'modularscale/sugar';

$modularscale: (
  base: 16px,
  ratio: 1.067
);